
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"  [queryParams]="{ lang: currentLanguage | async }">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      mdbCollapse
      #basicNav="mdbCollapse"
    >
      <ul class="navbar-nav">
       <!-- <li class="nav-iteam">
          <a class="nav-link text-center active" aria-current="page" href="/bookin">Book now</a>
        </li>
      -->
        <li class="nav-item">
          <a class="nav-link text-center" [routerLink]="['about']"  [queryParams]="{ lang: currentLanguage | async }">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/contact"  [queryParams]="{ lang: currentLanguage | async }">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/calendar"  [queryParams]="{ lang: currentLanguage | async }">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/pricelist"  [queryParams]="{ lang: currentLanguage | async }">Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/gallery"  [queryParams]="{ lang: currentLanguage | async }">Gallery</a>
        </li>

        
          <button
    mat-menu-item
    *ngFor="let lang of appLanguages"
    (click)="changeLanguage(lang)"
    [ngClass]="{
      'mat-bg-primary-mid -color-primary-mid-contrast':
        lang === (currentLanguage | async)
    }"
  >
    {{ lang | uppercase }}
  </button>
  
      </ul>
      
    </div>
  </div>





  

</nav>
