
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark ">
  <div class="container-fluid">
   
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      mdbCollapse
      #basicNav="mdbCollapse"
    >
      <ul class="navbar-nav">
       <li class="nav-item">
          <a class="nav-link text-center active" routerLink="/home"  [queryParams]="{ lang: currentLanguage | async }">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-center" [routerLink]="['about']"  [queryParams]="{ lang: currentLanguage | async }">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/contact"  [queryParams]="{ lang: currentLanguage | async }">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/calendar"  [queryParams]="{ lang: currentLanguage | async }">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/pricelist"  [queryParams]="{ lang: currentLanguage | async }">Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/gallery"  [queryParams]="{ lang: currentLanguage | async }">Gallery</a>
        </li>
      </ul>
      
    </div>
    <div class="d-flex align-items-center">
      <span class="never-hide">
        <!-- Right side of the toolbar -->
        <div *ngTemplateOutlet="appSettingsTemplate"></div>
      </span>
      <ng-template #routeLinksTemplate>
        <ng-container *ngFor="let route of AppRoutes; let i = index">
          <a
            mat-button
            *ngIf="route.visibleInNavbar"
            [routerLink]="['/' + route.url]"
            [ngClass]="{
              'mat-bg-primary-mid mat-color-primary-mid-contrast':
                i === activeRouteIndex
            }"
            [queryParams]="{ lang: currentLanguage | async }"
            [queryParamsHandling]="'merge'"
          >
            {{ route.title | translate }}
          </a>
        </ng-container>
      </ng-template>
      
      <ng-template #appSettingsTemplate>
        <button mat-button [matMenuTriggerFor]="langMenu">
          {{ currentLanguage | async | uppercase }}
        </button>
        <mat-menu #langMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let lang of appLanguages"
            (click)="changeLanguage(lang)"
            [ngClass]="{
              'mat-bg-primary-mid mat-color-primary-mid-contrast':
                lang === (currentLanguage | async)
            }"
          >
            {{ lang | uppercase }}
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </div>
</nav>
