<div class="container"> 
    <h1>Contact us!</h1>  
</div>


<div class="contat-list">
  <h3>
    Address
  </h3>
    <a>
      Ulica stangera 28
      <br>
    </a>
    <div class="col-md   ">
  <!-- Links -->
  <br>
    <h6 class="text-uppercase fw-bold mb-4">
     Contact
    </h6>
    <p><i class="fas fa-home me-3"></i> Opatija, 51410, HR</p>
    <p>
      <i class="fas fa-envelope me-3"></i>
      antonio.luksic2002@gmail.com
    </p>
    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
  </div>
  <div class="ratio ratio-16x9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.0072235631415!2d14.317328015945007!3d45.34866644916541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4764a6298b15b0d1%3A0xe5fb031d41db95ed!2sApartment%20Luksic!5e0!3m2!1sen!2shr!4v1653912386830!5m2!1sen!2shr" width="70%" ratio="1:1" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>