<div class="container">
    <h2>
        Gallery
    </h2>

    <div class="container">
        <div class="row">
          <div class="col-lg">
            <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
            class="d-block w-100"
            alt="..."
            
          />
          <div class="podnaslov">
            <h4>
                lorem ipsum
            </h4>
        </div>
      
          </div>
          <div class="col-lg">
            <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
            class="d-block w-100"
            alt="..."
            
          />
          <div class="podnaslov">
            <h4>
                lorem ipsum
            </h4>
        </div>
      
          </div>
          <div class="col-lg">
            <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
        <div class="podnaslov">
            <h4>
                lorem ipsum
            </h4>
        </div>
      
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg">
          
            <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
        <div class="podnaslov">
            <h4>
                lorem ipsum
            </h4>
        </div>
      
          </div>
          <div class="col-lg">
            <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
        <div class="podnaslov">
            <h4>
                lorem ipsum
            </h4>
        </div>
      
          </div>
          <div class="col-lg">
            <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
        <div class="podnaslov">
            <h4>
                lorem ipsum
            </h4>
        </div>
      
          </div>
        </div>
      </div>
</div>

