<div class="container">
<section class="gallery min-vh-100">
    <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-lg-2">
          <div class="col">
            <img
            src="../assets\Images\apartman dnevni.png"
            class="d-block w-100"
            alt="..."
          />
          </div>

          <div class="col -md">
            <img
            src="../assets\Images\balkon (2).png"
            class="d-block w-100"
            alt="..."
          />
          </div>

    

          <div class="col -md">
            <img
            src="../assets\Images\IMG-3342.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3347.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3350.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3354.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3359.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3361.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3366.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
         
          <div class="col -md">
            <img
            src="../assets\Images\IMG-3368.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\Opatija.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\volosko_opatija_154938.jpeg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col -md">
            <img
            src="../assets\Images\Volosko.jpeg"
            class="d-block w-100"
            alt="..."
          />
          </div>
        </div>
    </div>
    
</section>
</div>


