<div class="container1">
    <h2>
      {{'HOME.TITLE3'|translate}}
    </h2>
    <p>
      {{'HOME.TEXT3'|translate}}

      <div class="container">
        <section class="gallery">
        <div class="gy-4 row">
          
          <div class="col-lg">
             
            <img
             src="../assets\Images\white-lighthouse-on-the-edge-of-the-cliff-near-body-of-water-at-daytime-wallpaper-preview.jpg"
            class="d-block w-100"
            alt="..."
          />
          </div>
          <div class="col-lg">
             
            <img
            src="../assets\Images\volosko_opatija_154938.jpeg"
            class="d-block w-100"
            alt="..."
          />
          </div>
        </div>
        </section>
      </div>


    <h2>
      {{'HOME.TITLE4'|translate}}
      </h2>
    <p>
     {{'HOME.TEXT4'|translate}}
    </p>
    <br>

    <div class="container">
      <section class="gallery">
      <div class="gy-4 row">
        
        <div class="col-lg">
           
          <img
          src="../assets\Images\1.jpg"
          class="d-block w-100"
          alt="..."
        />
        </div>
        <div class="col-lg">
           
          <img
          src="../assets\Images\Opatija.jpg"
          class="d-block w-100"
          alt="..."
        />
        </div>
      </div>
      </section>
    </div>

   
    <h4>
      {{'HOME.TITLE5'|translate}}
    </h4>
    
    
      <br>
      <a href="https://np-plitvicka-jezera.hr/en/">Plitvička jezera- 182 km (2 h 30 min)</a>
<br>
<a href="https://www.pp-ucka.hr/en/">Park prirode Ucka - 23 km (37 min)</a>
<br>
Rock climbing area Kamenjak - 31 km (27 min)
<br>
Venecija - 225 km (2 hour 50 min)
<br>
<a href="http://www.kvarner.hr/biciklizam/opatijska.html ">Biciklističke staze</a>

<br>
<a href="http://frankopani.eu/">Kulturna tura rutama Frankopana</a>

<br>
<a href="https://rijeka2020.eu/en/programme/">Rijeka prijestolnica kulture 2020</a>

</div>

