<div class="container1">
    <h2>
        Volosko
    </h2>
    <p>
      Volosko je maleno privlačno ribarsko i turističko mjestašce na opatijskoj rivijeri udaljeno oko 
      1 kilometar od središta Opatije. Volosko je osobito privlačno ljubiteljima primorske kuhinje i 
      ljubiteljima windsurfinga.  Slikoviti mandrać i njegove stjenovite plaže, ribarski restorani, 
      šetalište uz more i mir koji vlada u gradiću, jer ne leži na glavnom 
      putu Rijeka-Opatija, mamac su izletnicima željnima mira i omiljeno
       sastajalište umjetnika. Prvi puta spominje se još 1543. a u prošlosti 
       je primao brodove svih veličina i imao ulogu luke grada Kastva. </p>
    
    <div class="container">
        <div class="row">
            <div class="col-md">
              <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
              class="d-block w-100"
              alt="..."
              
            />
            </div>
            <div class="col-md text">
              <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
              class="d-block w-100"
              alt="..."
            />
            </div>    
          </div>
          <br>
    </div>
    <h2>Gdje smo/Sta raditi</h2>
    <p>
      Volosko je smješteno kraj Opatije, u Kvarnerskom zaljevu  (45o 20') u kojem se Mediteran najdublje 
      usjekao u kopno Srednje Europe u podnožju planine Učka 
      (1.401 m). Zaklonjeno od jakih vjetrova  otocima i Učkom 
      lako je dostupna u sva godišnja doba.
      Klima - umjerena mediteranska klima s blagim zimama i podnošljivim ljetima.
      Stalno strujanje zraka, morskog aersola.
      Prosječna ljetna temperatura zraka iznosi 21,9o C, a zimska 7o C.
      Temperatura mora ljeti se penje do 26o C.
      Godišnja insolacija  2000 sati.
    </p>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-md">
            <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
            class="d-block w-100"
            alt="..."
            
          />
          </div>
          <div class="col-md text">
            <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
            class="d-block w-100"
            alt="..."
          />
          </div>    
        </div>
        <br>
  </div>
    <h4>
      Udaljenosti do zanimljivih destinacija:
    </h4>
    <p>
      Udaljenosti do zanimljivih destinacija:
Plitvička jezera / Plitvica lakes - 182 km (2 h 30 min)
Nature park Učka - 23 km (37 min)
Rock climbing area Kamenjak - 31 km (27 min)
Venezia/Venice Italy - 225 km (2 hour 50 min)
Biciklističke staze/Biking - http://www.kvarner.hr/biciklizam/opatijska.html 
Kulturna tura rutama Frankopana - http://frankopani.eu/
Rijeka prijestolnica kulture 2020/Rijeka European Capital of Culture 2020 - https://rijeka2020.eu/en/programme/
</div>

