<div class="container">
  <h2 class="h2">
    Price list za nas lipi apartman
  </h2>
  <img
  src="https://static.wixstatic.com/media/866f4a_9ba18d7cf3964340b5aa3487be1479ff~mv2.png/v1/crop/x_85,y_182,w_853,h_1102/fill/w_622,h_803,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/cjenik%204%2B21.png"
  class="d-block w-100"
  alt="Prcie list"
/>
  <div class="rezervacije">
  <h4>
    Rezervacije
  </h4>
  <br>
  Rezervacija  (iz Hrvatske) se potvrđuje 
  uplatom 30% vrijednosti na račun Privredne banke:
  <br>
  IBAN: HR4123400093209324322
  <br>
  (u poziv na broj navesti svoj JMBG ili OIB)
Ostatak se plaća pri dolasku.
  </div>
</div>
