<div class="container">
   <div class="container1">
    <h2>
        Welcome to Apartman Luksic!
    </h2>
    <br>
    <p>
      Apartman obitelji Luksic nalazi se u centru 
      malog primorskog gradića Volosko. Volosko se 
      nalazi uz more, 1,5 km udaljen od Opatije, i 
      zadržao je duh starog ribarskog mjesta, s brojnim 
      restoranima, kafićima i umjetničkim galerijama. 
      Strmim i uskim uličicama stiže se do slikovite luke 
      uz koju kreće šetnica "Lungo mare".
    </p>
    <div class="row">
      <div class="col-md">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
      <div class="col-md">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
    </div>
    <br>
    <h2>
      Sadrzaj apartmana
    </h2>
    <p>
      Apartman se nalazi na 1. katu u kuće u samom centru 
      Voloskog. Sastoji se od kuhinje s blagovaonicom, 
      dnevnog boravka s dva pomoćna ležaja, dvije dvokrevetne
       spavaće sobe i kupaonice ukupne površine 65 m2. Sve 
       prostorije su klimatizirane. Apartman ima mašinu za 
       suđe, mašinu za robu, mikrovalnu pećnicu, te kuhinju 
       sa svim potrebnim elementima, posuđem i priborom za 
      jelo. Apartman ima poseban ulaz i balkon koji gleda 
      prema jugoistoku. Udaljenost od mora je cca 80 m zračne 
      linije. Odmah do kuće nalazi se dućan, pošta je udaljena
       150 m, pekarnica je na 100m i svi ostali sadržaji su u 
       blizini. 
        </p>


   </div>
   <div class="container">
    <div class="row">
      <div class="col-md">
        
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
      <div class="col-md">
         
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
      <div class="col-md">
         
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
    </div>
    <div class="icone">
      <br>
      <i class="fa-solid fa-air-conditioner"></i>
      <br>
      <i class="fa-solid fa-bed fa-lg"></i> 
      <br>
      <i class="fa-solid fa-toilet fa-lg"></i>
      <br>
      <i class="fa-solid fa-tv fa-lg"></i>
      <br>
      <i class="fa-solid fa-wifi"></i>
    </div>
  </div>
</div>