<div class="container">
   <div class="container1">
    <h2>
        {{'HOME.TITLE'|translate}}
    </h2>
    <br>
    <p>
      {{'HOME.TEXT1'|translate}}
    </p>

<div class="container">
  <section class="gallery ">
    
      <div class="col-lg">
        <img
          src="../assets\Images\dnevni1 (10).png"
          class="d-block w-100"
          alt="..."
        />
      </div>
     
 
  </section>
</div>


  
      
    <br>
 
    <h2>
      {{"HOME.TITLE1"|translate}}
    </h2>
    <p>
    {{'HOME.TEXT2'|translate}}
        </p>


   </div>
  
   <div class="container">
    <section class="gallery">
    <div class="row">
      <div class="col-lg">
        
        <img
          src="../assets\Images\IMG-3350.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="col-md">
         
        <img
        src="../assets\Images\Untitled.png"
        class="d-block w-100"
        alt="..."
      />
      </div>
      <div class="col-md">
         
        <img
        src="../assets\Images\IMG-3354.jpg"
        class="d-block w-100"
        alt="..."
      />
      </div>
    </div>
    </section>
  </div>
</div>