<div class="container">
   <div class="container1">
    <h2>
        {{'HOME.TITLE'|translate}}
    </h2>
    <br>
    <p>
      {{'HOME.TEXT1'|translate}}
     
    </p>
    <div class="row">
      <div class="col-md">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
      <div class="col-md">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
    </div>
    <br>
 
    <h2>
      {{"HOME.TITLE1"|translate}}
    </h2>
    <p>
    {{'HOME.TEXT2'|translate}}
        </p>


   </div>
   <div class="container">
    <div class="row">
      <div class="col-md">
        
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
      <div class="col-md">
         
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
      <div class="col-md">
         
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
          class="d-block w-100"
          alt="..."
          
        />
      </div>
    </div>
   
  </div>
</div><